<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anakin.pushclient.dao.UserDao">
    <resultMap id="BaseResultMap" type="cn.anakin.pushclient.model.RegisterUser">
        <result column="uid" property="uid"/>
        <result column="dev_token" property="dev_token" />
        <result column="client_type" property="client_type" />
        <result column="accessid" property="accessid" />
        <result column="update_time" property="update_time" />
    </resultMap>

    <parameterMap id="RegisterUser" type="cn.anakin.pushclient.model.RegisterUser"/>
    <sql id="Base_Colum_List">
        uid, dev_token, client_type, accessid, update_time
    </sql>

    <select id="findByUid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Colum_List"/>
        from register_xg_users
        where uid = #{uid}
    </select>
</mapper>